body{
    background-color: #252525;
    color: white;
    background-image: url(https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
#clock{
    margin-top: 15%;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    margin: 40px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.insta, .git, .email{
    margin: 10px;
    color: aliceblue;
}
.container{
    margin-top: 10%;
}
.quote, .tag{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 20px;
}